<h1>Ideas#index</h1>
<h1>List of all Ideas:</h1>
<% @ideas.each_with_index do |idea, index| %>

  <h4> <%=index+1 %>. <%= link_to "#{idea.title}", idea_path(idea) %></h4>

<% end %>

<h5><%= link_to "Add your idea here", new_idea_path %></h5>
