<h1>List of all Ideas posted so far!</h1>

  <h3 class="links"><%= link_to "ADD YOUR IDEA HERE", new_idea_path %></h3>
  <br />
  <% @ideas.each_with_index do |idea, i |%>

    <div class="row pad-left">
       <div class="col-sm-6 col-md-8"> <!--box in questions -->
        <div class="thumbnail text-center ">
          <div class="caption">
            <h3 class="idea-title"><%= idea.title %></h3>
            <p><%= idea.content.first(80) %>.....</p>

            <%= link_to "Click to read more", idea_path(idea), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
