<h1>Ideas#show</h1>

<h1>This is a brilliant idea!</h1>

<%= link_to "Edit this idea", edit_idea_path(@idea) %>

<h1><%= @idea.title %></h1>

<% @idea.endorsement.each do |endorsement| %>
  <div>
    <h2><%= link_to endorsement.author, idea_endorsement_path %></h2>
  </div>

<% end %>
