<h1>Endorsements#index</h1>

<%= @endorsements.each do |endorsement| %>

  <%= link_to endorsment.

  <!-- <h2> endorsement.amount</h2> -->

<% end %>


<h1>
  This page needs to list all endorsements for id 1
</h1>
