<h1>Endorsements#index</h1>

<h3><%= link_to "Endorse this idea!", new_idea_endorsement_path %></h3>

<% @idea.endorsements.each_with_index do |endorsement, index |%>

  <h2><%=index+1%>. <%= link_to endorsement.author, idea_endorsement_path(@idea, endorsement) %>

  </h2>
<% end %>


<h1>
  This page needs to list all endorsements for specific id
</h1>
