<h1>Thanks to all these people for their endorsements</h1>

<h3><span class="links"><%= link_to "Endorse this idea here!", new_idea_endorsement_path %></span></h3>

<% @idea.endorsements.each_with_index do |endorsement, index |%>

  <h2><%=index+1%>. <%= link_to endorsement.author, idea_endorsement_path(@idea, endorsement) %>

  </h2>
<% end %>
