<div>
  <h1>Thanks to <%= @endorsement.author %>! </h1>
  <h2>Endorsement amount: <%= number_to_currency(@endorsement.amount) %> </h2>
</div>

<%= link_to "Back", idea_endorsements_path%>

<% if current_user == @endorsement.author %>
  <%= link_to "Edit this endorsement", edit_idea_endorsement_path(@endorsement.idea, @endorsement) %>
<% end %>
